<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <head>
        <link rel="shortcut icon" href="{{ url_for('static', filename='img/beard.png') }}" type="image/x-icon">
    </head>
{% block title %}
    <title>OKC Python</title>
{% endblock %}
{% block links %}
{% endblock %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="banner">
        <h1 class="header-h1 text_center">&lt; Hello <span class="header-span">OKC</span> Python &gt;</h1>
        <br>
{% block nav %}
        <ul class="nav text_center">
            <li><a class="{% if request.path == '/' %}active{% endif %}" href="/">Home</a></li>
            <li><a class="{% if 'users' in request.path or 'companies' in request.path %}active{% endif %}" href="/users">Users</a></li>
            <li><a class="{% if request.path == '/api' %}active{% endif %}" href="/api">API</a></li>
        </ul>
{% endblock %}
    </div>
    <br>
    <br>

{% block content %}
{% endblock %}

    <br>
    <br>
    <br>
</body>
</html>