# Temporary Files
__pycache__/
*.pyc

# Virtual Environments
venv/
env/
env_/
.python-version

# Configuration files
# instance/                 Un-comment these in your environment
# .env                      Un-comment these in your environment
# migrations/               Un-comment these in your environment
migrations/versions/*

# IDE / Text Editors
.vscode/
