{% extends 'base.html' %}


{% block title %}
    <title>OKC Python - Users</title>
{% endblock %}


{% block content %}
    <div class="content_center">
        <table class="user_table">
            <h2 class="text_center">Users</h2>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>NAME</th>
                    <th>COMPANY</th>
                    <th>CITY</th>
                </tr>
            </thead>
            <tbody>
            {% if data.users %}
                {% for user in data.users %}
                <tr>
                    <td><a href="{{ url_for('portal.update_user', id=user.id, _anchor='form_view') }}">{{ user.id }}</a></td>
                    <td><a href="{{ url_for('portal.update_user', id=user.id, _anchor='form_view') }}">{{ user.name.title() }}</a></td>
                    <td><a href="{{ url_for('portal.update_user', id=user.id, _anchor='form_view') }}">{{ user.company.company_name }}</a></td>
                    <td><a href="{{ url_for('portal.update_user', id=user.id, _anchor='form_view') }}">{{ user.company.company_city }}</a></td>
                    <td class=" del_icon">
                        <a id="delete_" onclick="delete_user({{ user.id }},'{{ user.name }}')" href="#"><img src="https://img.icons8.com/office/30/000000/cancel.png"></a>
                    </td>
                </tr>  
                {% endfor %} 
            {% endif %}
                <tr id="form_view">
                    <td></td>
                    <td></td>
                    <td class="text_center"><a href="{{ url_for('portal.companies') }}">Companies</a></td>
                    <td class="text_center"><a href="{{ url_for('portal.add_user', _anchor='form_view') }}">New User &#43;</a></td>
                </tr>
            </tbody>        
        </table>
        {% if '/users/' in request.path %}
            {% if data.form %}
            <br><br><br>
            <div class="form_wrapper">
                <h3 class="text_center">{% if request.path == '/users/update' %}Update User{% else %}Create New User{% endif %}</h3>
                <hr width="65%", color="#3A709D">
                <form action="{% if 'users/update' in request.path %}{{url_for('portal.update_user', id=data.user.id) }}{% else %}/users/add{% endif %}" method="POST">
                    {{ data.form.csrf_token }}
                    <p>
                        {{ data.form.name.label }}
                        {% if data.user %}
                            {{ data.form.name(placeholder="{}".format(data.user.name), autofocus=true) }}
                        {% else %}
                            {{ data.form.name(placeholder="", autofocus=true) }}
                        {% endif %}
                    </p>
                    <p>
                        {{ data.form.company_id.label }}
                        {% if data.user %}
                            {{ data.form.company_id(choices=data.companies, placeholder="{}".format(data.user.company.company_name)) }}
                        {% else %}
                            {{ data.form.company_id(placeholder="") }}
                        {% endif %}
                    </p>
                    <p class="form_buttons">
                        <input type="submit" value="Submit">
                        <a href="{{ url_for('portal.users') }}">Cancel</a>
                        <a class="right" href="{{ url_for('portal.add_company', _anchor='form_view') }}">New Company</a>
                    </p>
                </form>
            </div> 
            {% endif %}
        {% endif %}
        <br><br>
        {% if data.users %}
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <!-- Delete Modal -->
        <div id="delete_modal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <div class="confirm_delete">
                    <p>
                        Are you sure you want to delete <strong id="show_name"></strong>?
                    </p>
                    <br>
                    <a href="{{ url_for('portal.users') }}">Cancel</a>
                    <a id='del_btn' href="#">DELETE</a>
                </div>
            </div>
        </div>
        <div class="text_center">
            <a href="https://icons8.com/icon/21067/cancel" style="text-decoration: none; font-size: .3em;">Cancel icon by Icons8</a>
        </div>
        <script src="{{ url_for('static', filename='js/modal.js') }}" type="text/javascript"></script>
        {% endif %}
    </div>
{% endblock %}